In [122]:
import pickle as pkl
import pandas as pd

In [191]:
with open('/Users/jaredzirkes/Desktop/MLB-Data/daily_stats_dfs/daily_stats_df_updated_2025-03-05.pkl', 'rb') as fpath:
    batter_df = pkl.load(fpath)

batter_df

,play_type,ballpark,batter,pitcher,pitbat,on_3b,on_2b,on_1b,outs_when_up,inning,...,double_play_LA_504_PA_double_play,intent_walk_LA_20_PA_intent_walk,intent_walk_LA_45_PA_intent_walk,intent_walk_LA_75_PA_intent_walk,intent_walk_LA_504_PA_intent_walk,triple_LA_20_PA_triple,triple_LA_45_PA_triple,triple_LA_75_PA_triple,triple_LA_504_PA_triple,is_on_base
0,strikeout,Globe Life II,543760.0,592866.0,RR,0,0,0,0.0,1.0,...,0.024889,0.0,0.0,0.0,0.0,0.001873,0.003409,0.003168,0.003140,0
1,double_play,Chase,666971.0,808967.0,RR,0,0,1,0.0,1.0,...,0.024889,0.0,0.0,0.0,0.0,0.001873,0.003409,0.003168,0.003140,0
2,field_out,Comerica,592192.0,571945.0,RR,0,1,0,0.0,1.0,...,0.024889,0.0,0.0,0.0,0.0,0.001873,0.003409,0.003168,0.003140,0
3,strikeout,Minute Maid,514888.0,663474.0,RR,0,0,0,0.0,1.0,...,0.024889,0.0,0.0,0.0,0.0,0.001873,0.003409,0.003168,0.003140,0
4,double,Guaranteed Rate,502054.0,641927.0,RR,0,1,0,0.0,1.0,...,0.024889,0.0,0.0,0.0,0.0,0.001873,0.003409,0.003168,0.003140,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122673,field_out,American Family,607043.0,669084.0,LL,0,0,1,2.0,8.0,...,0.015490,0.0,0.0,0.0,0.0,0.005017,0.005867,0.004503,0.004705,0
122674,double_play,Oracle,624424.0,571927.0,LL,0,1,1,0.0,9.0,...,0.015490,0.0,0.0,0.0,0.0,0.005017,0.005867,0.004503,0.004705,0
122675,field_out,Truist,671739.0,663460.0,LL,0,0,1,1.0,9.0,...,0.015490,0.0,0.0,0.0,0.0,0.005017,0.005867,0.004503,0.004705,0
122676,strikeout,Truist,669004.0,669276.0,LL,0,0,0,1.0,9.0,...,0.015490,0.0,0.0,0.0,0.0,0.005017,0.005867,0.004503,0.004705,0
122677,single,Truist,607043.0,669276.0,LL,0,0,1,2.0,6.0,...,0.015559,0.0,0.0,0.0,0.0,0.003565,0.005968,0.004532,0.004682,1

In [166]:
batter_df[[col for col in batter_df if f"{504}_PA" in col]] = batter_df[['batter'] + [col for col in batter_df if f"{504}_PA" in col]].copy(
                ).groupby(by="batter").rolling(window=504, closed="left", min_periods=0).sum().reset_index().sort_values(by='level_1').drop(columns=['batter', 'level_1']).reset_index(drop=True)


cols = [col for col in batter_df if f"{504}_PA" in col]
# batter_df[cols] = batter_df[cols].div(
#                     batter_df[cols].sum(axis=1), axis=0)

In [180]:
rolling_result = batter_df[cols + ['batter']].groupby(by="batter").rolling(window=504, closed="left", min_periods=0).sum().reset_index().sort_values(by='level_1').drop(columns=['batter', 'level_1']).reset_index(drop=True)

# Reassign while preserving index
batter_df.loc[:, [col for col in batter_df if f"{504}_PA" in col]] = rolling_result.values

In [182]:
batter_df[cols]

,504_PA_strikeout,504_PA_field_out,504_PA_double,504_PA_fielders_choice,504_PA_error,504_PA_walk,504_PA_home_run,504_PA_single,504_PA_sacrifice,504_PA_double_play,504_PA_intent_walk,504_PA_triple
1,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
37,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.130372,0.0,0.0
67,0.000000,0.991160,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.130372,0.0,0.0
764,0.000000,0.991160,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.260744,0.0,0.0
828,0.000000,2.050416,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.260744,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
97522,26.200681,58.198265,2.978444,0.0,1.907889,21.346027,4.665063,22.029744,3.220273,7.604967,0.0,0.0
97591,27.205705,58.198265,2.978444,0.0,1.907889,21.346027,4.665063,22.029744,3.220273,7.604967,0.0,0.0
97946,27.205705,58.198265,2.978444,0.0,1.907889,22.415219,4.665063,22.029744,3.220273,7.604967,0.0,0.0
99410,27.205705,59.152577,2.978444,0.0,1.907889,22.415219,4.665063,22.029744,3.220273,7.604967,0.0,0.0
99709,27.205705,60.137445,2.978444,0.0,1.907889,22.415219,4.665063,22.029744,3.220273,7.604967,0.0,0.0