In [122]:
import pickle as pkl
import pandas as pd

In [172]:
batter_df = pd.read_csv('/Users/jaredzirkes/Desktop/Python/projects/mlb_simulation/testingRL.csv')
batter_df = batter_df[batter_df.batter == 543685]

In [166]:
batter_df[[col for col in batter_df if f"{504}_PA" in col]] = batter_df[['batter'] + [col for col in batter_df if f"{504}_PA" in col]].copy(
                ).groupby(by="batter").rolling(window=504, closed="left", min_periods=0).sum().reset_index().sort_values(by='level_1').drop(columns=['batter', 'level_1']).reset_index(drop=True)


cols = [col for col in batter_df if f"{504}_PA" in col]
# batter_df[cols] = batter_df[cols].div(
#                     batter_df[cols].sum(axis=1), axis=0)

In [180]:
rolling_result = batter_df[cols + ['batter']].groupby(by="batter").rolling(window=504, closed="left", min_periods=0).sum().reset_index().sort_values(by='level_1').drop(columns=['batter', 'level_1']).reset_index(drop=True)

# Reassign while preserving index
batter_df.loc[:, [col for col in batter_df if f"{504}_PA" in col]] = rolling_result.values

In [182]:
batter_df[cols]

,504_PA_strikeout,504_PA_field_out,504_PA_double,504_PA_fielders_choice,504_PA_error,504_PA_walk,504_PA_home_run,504_PA_single,504_PA_sacrifice,504_PA_double_play,504_PA_intent_walk,504_PA_triple
1,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
37,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.130372,0.0,0.0
67,0.000000,0.991160,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.130372,0.0,0.0
764,0.000000,0.991160,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.260744,0.0,0.0
828,0.000000,2.050416,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.260744,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
97522,26.200681,58.198265,2.978444,0.0,1.907889,21.346027,4.665063,22.029744,3.220273,7.604967,0.0,0.0
97591,27.205705,58.198265,2.978444,0.0,1.907889,21.346027,4.665063,22.029744,3.220273,7.604967,0.0,0.0
97946,27.205705,58.198265,2.978444,0.0,1.907889,22.415219,4.665063,22.029744,3.220273,7.604967,0.0,0.0
99410,27.205705,59.152577,2.978444,0.0,1.907889,22.415219,4.665063,22.029744,3.220273,7.604967,0.0,0.0
99709,27.205705,60.137445,2.978444,0.0,1.907889,22.415219,4.665063,22.029744,3.220273,7.604967,0.0,0.0