In [78]:
import pandas as pd
from cloud_modules import cloud_functions as cf
import pickle as pkl

In [82]:
with open('Data/non_mlb_data/efficient_dataset.pkl', 'rb') as file:
    eff = pkl.load(file)

with open('Data/test_data_2016-18', 'rb') as file:
    raw = pkl.load(file)

old = cf.CloudHelper().download_from_cloud('simulation_training_data/Final Datasets/final_dataset_2016')

In [90]:
raw[raw.events == "triple"][raw[raw.events == "triple"].game_date == '2016-10-02'].home_team

12455    COL
12715    WSH
13096     SF
Name: home_team, dtype: object

In [91]:
pd.set_option("display.max_rows", None)

eff[(eff.game_date == '2016-10-02') & (eff.ballpark == 'Angel') & (eff.pitbat == 'RR')].iloc[0]

play_type                                   field_out
game_date                         2016-10-02 00:00:00
ballpark                                        Angel
pitbat                                             RR
on_3b                                            <NA>
on_2b                                            <NA>
on_1b                                          572761
outs_when_up                                        0
inning                                              1
inning_topbot                                     Bot
bat_score                                           0
fld_score                                           0
season_strikeout                             0.475784
season_field_out                             0.203157
season_double                                0.053424
season_fielders_choice                            0.0
season_error                                      0.0
season_walk                                  0.171602
season_home_run                              0.036014
season_single                                0.060019
season_sacrifice                                  0.0
season_double_play                                0.0
season_intent_walk                                0.0
season_triple                                     0.0
month_strikeout                              0.475784
month_field_out                              0.203157
month_double                                 0.053424
month_fielders_choice                             0.0
month_error                                       0.0
month_walk                                   0.171602
month_home_run                               0.036014
month_single                                 0.060019
month_sacrifice                                   0.0
month_double_play                                 0.0
month_intent_walk                                 0.0
month_triple                                      0.0
pitcher_season_strikeout                     0.000001
pitcher_season_field_out                          0.0
pitcher_season_double                             0.0
pitcher_season_fielders_choice                    0.0
pitcher_season_error                              0.0
pitcher_season_walk                               0.0
pitcher_season_home_run                           0.0
pitcher_season_single                        0.000002
pitcher_season_sacrifice                          0.0
pitcher_season_double_play                        0.0
pitcher_season_intent_walk                        0.0
pitcher_season_triple                             0.0
pitcher_month_strikeout                      0.000001
pitcher_month_field_out                           0.0
pitcher_month_double                              0.0
pitcher_month_fielders_choice                     0.0
pitcher_month_error                               0.0
pitcher_month_walk                                0.0
pitcher_month_home_run                            0.0
pitcher_month_single                         0.000004
pitcher_month_sacrifice                           0.0
pitcher_month_double_play                         0.0
pitcher_month_intent_walk                         0.0
pitcher_month_triple                              0.0
Left to Right                                       0
Right to Left                                       0
in                                                  0
out                                                 6
zero                                                0
temprature_sq                                    5041
season_play_average                          0.422366
month_play_average                            0.41344
is_on_base                                          0
Name: 73193, dtype: object

In [72]:
old[(old.game_date == '2016-10-02') & (old.ballpark == 'Angel') & (old.pitbat == 'RR')]

,Unnamed: 0,play_type,game_date,ballpark,pitbat,on_3b,on_2b,on_1b,outs_when_up,inning,...,month_league_average_single,season_league_average_sacrifice,month_league_average_sacrifice,season_league_average_double_play,month_league_average_double_play,season_league_average_intent_walk,month_league_average_intent_walk,season_league_average_triple,month_league_average_triple,is_on_base
73185,73501,field_out,2016-10-02,Angel,RR,NaN,NaN,NaN,0,1,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73202,73483,walk,2016-10-02,Angel,RR,NaN,NaN,NaN,2,1,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,1
73203,73487,field_out,2016-10-02,Angel,RR,NaN,545361.0,NaN,2,1,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73216,73532,single,2016-10-02,Angel,RR,NaN,NaN,NaN,0,1,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,1
73219,73529,field_out,2016-10-02,Angel,RR,NaN,NaN,643393.0,1,1,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73228,73516,strikeout,2016-10-02,Angel,RR,NaN,NaN,514888.0,2,1,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73236,73439,double,2016-10-02,Angel,RR,NaN,592743.0,542364.0,0,2,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,1
73237,73440,sacrifice,2016-10-02,Angel,RR,542208.0,NaN,460060.0,0,2,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73239,73479,single,2016-10-02,Angel,RR,NaN,NaN,527043.0,0,2,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,1
73243,73523,walk,2016-10-02,Angel,RR,NaN,NaN,NaN,0,2,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,1
73259,73418,field_out,2016-10-02,Angel,RR,NaN,NaN,460060.0,2,2,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73285,73466,field_out,2016-10-02,Angel,RR,NaN,NaN,NaN,2,2,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73297,73624,field_out,2016-10-02,Angel,RR,NaN,NaN,NaN,0,3,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73303,73621,field_out,2016-10-02,Angel,RR,NaN,NaN,NaN,1,3,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73321,73632,field_out,2016-10-02,Angel,RR,NaN,NaN,NaN,2,3,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73335,73656,field_out,2016-10-02,Angel,RR,NaN,NaN,NaN,1,3,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73341,73654,single,2016-10-02,Angel,RR,NaN,NaN,NaN,2,3,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,1
73346,73661,field_out,2016-10-02,Angel,RR,NaN,606192.0,643393.0,2,3,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73359,73633,field_out,2016-10-02,Angel,RR,NaN,542208.0,460060.0,1,4,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73363,73647,double,2016-10-02,Angel,RR,NaN,NaN,NaN,1,4,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,1
73379,73552,field_out,2016-10-02,Angel,RR,NaN,NaN,NaN,0,4,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73405,73569,walk,2016-10-02,Angel,RR,NaN,NaN,NaN,0,5,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,1
73406,73570,strikeout,2016-10-02,Angel,RR,NaN,NaN,545361.0,0,5,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73415,73572,strikeout,2016-10-02,Angel,RR,NaN,NaN,545361.0,1,5,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73428,73575,field_out,2016-10-02,Angel,RR,NaN,NaN,545361.0,2,5,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73434,73256,single,2016-10-02,Angel,RR,NaN,NaN,NaN,0,5,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,1
73448,73249,strikeout,2016-10-02,Angel,RR,NaN,NaN,NaN,2,5,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73472,73277,single,2016-10-02,Angel,RR,NaN,502544.0,NaN,2,6,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,1
73473,73279,field_out,2016-10-02,Angel,RR,NaN,NaN,542908.0,2,6,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73479,73201,strikeout,2016-10-02,Angel,RR,NaN,NaN,NaN,0,6,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73495,73208,strikeout,2016-10-02,Angel,RR,NaN,NaN,643393.0,1,6,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73508,73216,field_out,2016-10-02,Angel,RR,NaN,NaN,643393.0,2,6,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73521,73232,home_run,2016-10-02,Angel,RR,NaN,NaN,NaN,0,7,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,1
73532,73236,field_out,2016-10-02,Angel,RR,NaN,NaN,542364.0,1,7,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73561,73373,strikeout,2016-10-02,Angel,RR,NaN,NaN,NaN,2,7,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73595,73395,field_out,2016-10-02,Angel,RR,NaN,592567.0,NaN,0,8,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73605,73334,sacrifice,2016-10-02,Angel,RR,592567.0,NaN,NaN,1,8,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73634,73354,single,2016-10-02,Angel,RR,NaN,NaN,NaN,0,9,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,1
73635,73355,field_out,2016-10-02,Angel,RR,NaN,NaN,514888.0,0,9,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0
73654,73359,field_out,2016-10-02,Angel,RR,NaN,514888.0,503556.0,2,9,...,0.150773,0.013309,0.013309,0.024473,0.024473,0.003334,0.003334,0.003799,0.003799,0